# ignores all ConsoleLog*.txt files in all subdirectories of current working folder
**/ConsoleLog*.txt

# ignores all results.* files in all subdirectories except results.json
**/results.*
!**/results.json