# ignores all ConsoleLog*.txt files in all subdirectories
**/ConsoleLog*.txt

# ignore all .xdmf files
**/*.xdmf

# ignore all .pptx files
**/*.pptx

# ignore output files
**/*.sol
**/*.vtk
**/*.dat
**/*.h5